body {
	min-height: 100vh;
	padding: 0 10px;
	margin: 0 auto;
}

.development {
	background-color: #F9F9FA;
	padding: 80px 100px;
	margin-bottom: 130px;
	font-family: 'OpenSans';
}

.development__subtitle {
	font-weight: 800;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(90deg, #4343ff 0%, #f96d6d 100%);
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	width: fit-content;
	margin: 0 auto 22px;
}

.development__title {
	font-family: 'Roboto';
	font-weight: 400;
	margin: 0 auto;
	width: 845px;
	text-align: center;
	font-size: 46px;
	line-height: 120%;
	color: #110C11;
	margin-bottom: 80px;
}

.development__cards {
	display: grid;
	grid-template-columns: 387px 387px 387px;
	justify-content: center;
	gap: 35px;
	grid-auto-rows: minmax(50px, auto);
}

.development__card {
	background-color: #fff;
	padding: 22px;
}

.development__card-title {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 23px;
	color: #110C11;
	margin-bottom: 28px;
}

.development__card-text {
	font-weight: 400;
	width: 343px;
	font-size: 17px;
	line-height: 26px;
	color: #5C5C5C;
}

.conditions {
	font-family: 'Roboto';
	color: #56565A;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 135px;
}

.conditions__items {
	margin-right: 60px;
}

.conditions__item-title {
	font-family: 'RobotoCondensed';
	font-weight: 700;
	font-size: 36px;
	line-height: 38px;
	margin-bottom: 15px;
}

.conditions__item-text {
	width: 513px;
	height: auto;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 30px;
}

.conditions__item-btn+.conditions__item-btn {
	margin-left: 15px;
}

.conditions__item-btn {
	background-color: #0A467E;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	border: none;
	text-align: center;
	padding: 12px 40px;
}

.conditions__cards {
	display: flex;
	gap: 15px;
}

.conditions__cards-wrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.conditions__card {
	width: 270px;
	background-color: #F7F7F7;
	padding: 22px;
	text-align: center;
	border: 1px solid #EDEDED;
	border-radius: 5px;
	position: relative;
}

.conditions__card--business {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.conditions__card--income::before,
.conditions__card--discount::before {
	content: '';
	position: absolute;
	background-image: url('/img/icons/Income.svg');
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.conditions__card--discount::before {
	background-image: url('/img/icons/Discount.svg');
}

.conditions__card-icon {
	margin-bottom: -30px;
}

.conditions__card-title {
	width: 187px;
	height: auto;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin: 40px auto 0;
	padding-bottom: 14px;
	border-bottom: 1px solid #E5E5E5;
}

.conditions__card-title--discount {
	width: 226px;
}

.conditions__card-text {
	height: auto;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	margin-top: 15px;
}


@media (max-width: 1245px) {
	.development__cards {
		grid-template-columns: 387px 387px;
	}

	.conditions {
		flex-direction: column;
	}

	.conditions__items {
		margin: 0 40px 20px 0;
	}
}

@media (max-width: 1070px) {
	.development__title {
		width: 630px;
		font-size: 36px;
	}
}

@media (max-width: 850px) {
	.development__title {
		width: 300px;
		font-size: 30px;
	}

	.development__cards {
		grid-template-columns: 250px 250px;
	}

	.development__card-text {
		width: 230px;
	}
}

@media (max-width: 580px) {
	.development__title {
		width: 250px;
		font-size: 26px;
	}

	.development__cards {
		grid-template-columns: 250px;
	}

	.conditions__items {
		margin: 20px 0;
	}

	.conditions__item-title {
		text-align: center;
		font-size: 26px;
		line-height: 28px;
	}
	.conditions__item-text {
		width: 300px;
		text-align: center;
	}
	.conditions__item-btn + .conditions__item-btn {
		margin-left: 65px;
	}
	.conditions__item-btn {
		font-size: 14px;
		line-height: 16px;
		padding: 10px 30px;
	}
	.conditions__cards {
		grid-template-columns: 270px;
	}
	.conditions__card--business {
		padding: 22px;
	}
}

@media (max-width: 470px) {
	.development__title {
		width: 100px;
		font-size: 16px;
	}
}